@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin title {
    @include roboto;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.3em;
}

@mixin body-text {
    @include roboto;
    font-weight: 400;
    font-size: 17px;    
    line-height: 2em;
}

@mixin nav-item {
    @include roboto;
    font-weight: 700;
    font-size: 16px;    
}