@import '../../styles/common.scss';

.hero {
    width: 100%;
    position: relative;
    padding-top: 200px;
   // display: flex;
   // justify-content: flex-end;
   // flex-direction: column;
    height: 80vh;
    .hero__content-container {
        width: 60%;
        margin: 0 auto;
        max-width: 980px;
    }
    
    .hero__circle-left {
        background-image: url("../../assets/hero/Purple\ Glow\ BG.png");
        position: absolute;
        width: 877px;
        height: 878px;
        left: 476px;
        top: 164px;
        background-position: center;
        background-size: cover;    
    }

    .hero__title {
        @include title;
        margin-bottom: 20px;
    }
    
    .hero__copy {
        @include body-text;
        width: 90%;
        margin: 0 auto;
    }
}